---
title: Mytripintours
---


		<div class="spacer"></div>

		<div id="myCarousel" class="carousel slide hidden-xs" data-ride="carousel">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		    <li data-target="#myCarousel" data-slide-to="1"></li>
		    <li data-target="#myCarousel" data-slide-to="2"></li> 
		    <li data-target="#myCarousel" data-slide-to="3"></li> 
		    <li data-target="#myCarousel" data-slide-to="4"></li>       
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" role="listbox">
		    <div class="item active">
		      <%= image_tag "16_9_01.jpg" %>
		    </div>

		    <div class="item">
		      <%= image_tag "16_9_02.jpg" %>
		    </div>		  

		    <div class="item">
		      <%= image_tag "16_9_03.jpg" %>
		    </div>		  

		    <div class="item">
		      <%= image_tag "16_9_04.jpg" %>
		    </div>		  

		    <div class="item">
		      <%= image_tag "16_9_05.jpg" %>
		    </div>		  

		    
		  </div>

		  <!-- Left and right controls -->
		  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		
			<div id="wrapper">		
				<h1>Welcome to Tours</h1>
				<h2>Wonderful historical city</h2>
				<button type="button" class="btn btn-primary resa">Book my flat</button>
			</div>
		</div>

		<div id="myCarousel" class="carousel slide hidden-sm hidden-md hidden-lg" data-ride="carousel">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		    <li data-target="#myCarousel" data-slide-to="1"></li>
		    <li data-target="#myCarousel" data-slide-to="2"></li> 
		    <li data-target="#myCarousel" data-slide-to="3"></li> 
		    <li data-target="#myCarousel" data-slide-to="4"></li>       
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" role="listbox">
		    <div class="item active">
		      <%= image_tag "16_9_1.jpg" %>
		    </div>

		    <div class="item">
		      <%= image_tag "16_9_2.jpg" %>
		    </div>		  

		    <div class="item">
		      <%= image_tag "16_9_3.jpg" %>
		    </div>		  

		    <div class="item">
		      <%= image_tag "16_9_4.jpg" %>
		    </div>		  

		    <div class="item">
		      <%= image_tag "16_9_5.jpg" %>
		    </div>		  

		    
		  </div>

		  <!-- Left and right controls -->
		  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		
			<div id="wrapper">		
				<h1>Welcome to Tours</h1>
				<button type="button" class="btn btn-primary resa2">Book my flat</button>
			</div>
		</div>

		<div>	
			<!--div class="container no-padding no-margin"-->
		<div class="spacer"></div>		
		
		<div class="container">
			<div class="row">
			  <div class="col-sm-12 col-md-6 descrip">
			  	<h1>EN FRANCAIS</h1>
			  </div>
			    <div class="col-sm-12 col-md-6 descrip">
			    	<p>
			    	Il est essentiellement situé dans l'ancien bourg de Châteauneuf que l'on appelle maintenant le Quartier Plumereau. 
					C’est dans ce magnifique quartier que nous vous accueillons, dans un ancien hôtel particulier du XVème siècle, « ancien fief du Bourg Saint Père ».
			  		Vous venez passer un week-end, une semaine ou plus à Tours pour des vacances, un voyage d’affaires ou pour des examens et autres concours? Nous vous proposons deux appartements rénovés et équipés de toutes les installations modernes pour votre plus grand confort (avec lien vers les pages descriptives et photos).
			    	</p>
			    </div>
			</div>
		</div>

		<div class="spacer"></div>

				<div class="container">
			<div class="row">
			  <div class="col-sm-12 col-md-6 descrip">
			  	<p>
			  		Tours, qui a obtenu le label Villes et Pays d'art et d'histoire, est au cœur du site de la Loire, inscrit au patrimoine mondial de l'UNESCO au titre de paysage culturel. Avec des vestiges de plus de 2000 ans d’histoire, cette ville est considérée comme l'une des cités historiques ou se forgea l'unité française. 
					Avec le séjour continuel des rois en Touraine, elle devient une véritable capitale de la France entre 1450 et 1550. Quantité de châteaux et d’hôtels particuliers apparaissent pendant cette période.
					Aujourd’hui encore, La ville conserve un patrimoine Médiéval et Renaissance significatif. 
			  	</p>
			  </div>
			    <div class="col-sm-12 col-md-6 descrip">
			    	<p>
			    	Il est essentiellement situé dans l'ancien bourg de Châteauneuf que l'on appelle maintenant le Quartier Plumereau. 
					C’est dans ce magnifique quartier que nous vous accueillons, dans un ancien hôtel particulier du XVème siècle, « ancien fief du Bourg Saint Père ».
			  		Vous venez passer un week-end, une semaine ou plus à Tours pour des vacances, un voyage d’affaires ou pour des examens et autres concours? Nous vous proposons deux appartements rénovés et équipés de toutes les installations modernes pour votre plus grand confort (avec lien vers les pages descriptives et photos).
			    	</p>
			    </div>


			</div>
		</div>

		<div class="spacer"></div>

				<div class="container">
			<div class="row">
			  <div class="col-sm-12 col-md-6 descrip">
			  	<p>
			  		Tours, qui a obtenu le label Villes et Pays d'art et d'histoire, est au cœur du site de la Loire, inscrit au patrimoine mondial de l'UNESCO au titre de paysage culturel. Avec des vestiges de plus de 2000 ans d’histoire, cette ville est considérée comme l'une des cités historiques ou se forgea l'unité française. 
					Avec le séjour continuel des rois en Touraine, elle devient une véritable capitale de la France entre 1450 et 1550. Quantité de châteaux et d’hôtels particuliers apparaissent pendant cette période.
					Aujourd’hui encore, La ville conserve un patrimoine Médiéval et Renaissance significatif. 
			  	</p>
			  </div>
			    <div class="col-sm-12 col-md-6 descrip">
			    	<p>
			    	Il est essentiellement situé dans l'ancien bourg de Châteauneuf que l'on appelle maintenant le Quartier Plumereau. 
					C’est dans ce magnifique quartier que nous vous accueillons, dans un ancien hôtel particulier du XVème siècle, « ancien fief du Bourg Saint Père ».
			  		Vous venez passer un week-end, une semaine ou plus à Tours pour des vacances, un voyage d’affaires ou pour des examens et autres concours? Nous vous proposons deux appartements rénovés et équipés de toutes les installations modernes pour votre plus grand confort (avec lien vers les pages descriptives et photos).
			    	</p>
			    </div>


			</div>
		</div>

		<div class="spacer"></div>

				<div class="container">
			<div class="row">
			  <div class="col-sm-12 col-md-6 descrip">
			  	<p>
			  		Tours, qui a obtenu le label Villes et Pays d'art et d'histoire, est au cœur du site de la Loire, inscrit au patrimoine mondial de l'UNESCO au titre de paysage culturel. Avec des vestiges de plus de 2000 ans d’histoire, cette ville est considérée comme l'une des cités historiques ou se forgea l'unité française. 
					Avec le séjour continuel des rois en Touraine, elle devient une véritable capitale de la France entre 1450 et 1550. Quantité de châteaux et d’hôtels particuliers apparaissent pendant cette période.
					Aujourd’hui encore, La ville conserve un patrimoine Médiéval et Renaissance significatif. 
			  	</p>
			  </div>
			    <div class="col-sm-12 col-md-6 descrip">
			    	<p>
			    	Il est essentiellement situé dans l'ancien bourg de Châteauneuf que l'on appelle maintenant le Quartier Plumereau. 
					C’est dans ce magnifique quartier que nous vous accueillons, dans un ancien hôtel particulier du XVème siècle, « ancien fief du Bourg Saint Père ».
			  		Vous venez passer un week-end, une semaine ou plus à Tours pour des vacances, un voyage d’affaires ou pour des examens et autres concours? Nous vous proposons deux appartements rénovés et équipés de toutes les installations modernes pour votre plus grand confort (avec lien vers les pages descriptives et photos).
			    	</p>
			    </div>

			</div>
		</div>

		<div class="spacer"></div>

  	
  	<script>
    $('.carousel').carousel({
        interval: 4000 //changes the speed
    })
    </script>


